<h1>{{title}}</h1>
<h2>{{title}}</h2>


<p>Obs.: A página que vejo é uma aplicação shell, essa aplicação é controlado por um component(appComponent). Componentes são construidos por blocos de angular aplicações. Os dados exibidos na tela, na entrada do usuário, é executada ações nessa entrada.</p>
<p>As chaves duplas são a sintaxe de ligação de interpolação do Angular. Essa ligação de interpolação apresenta o valor da propriedade de título do componente dentro da tag de cabeçalho HTML</p>
<p><a href="https://angular.io/tutorial/toh-pt0">Link do capítulo</a></p>
<hr>

<app-heroes></app-heroes>
